{% extends 'blog/basic.html' %}
	
{% block content %}	
	<h1 class="mb-3">Total Posts {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>  
	{% for post in blog_post %}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		    	<a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }} </a>	  	
		      	<small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
		    </div>
		    <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}

	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prev</a>
		{% endif %}

		{% for cur_page in page_obj.paginator.page_range %}
			{% if page_obj.number == cur_page %}
				<a class="btn btn-info mb-4" href="?page={{ cur_page }}"> {{ cur_page }} </a>
			{% else  %}	
				<a class="btn btn-outline-info mb-4" href="?page={{ cur_page }}"> {{ cur_page }} </a>
			{% endif %}				
		{% endfor %}

		{% if page_obj.has_next %}			
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}		
	{% endif %}
{% endblock content %}	
